.arrow {
    z-index: 1;
    background: none;
    border: none;
    height: 100%;

    &-right {
        position: absolute;
        right: 0;
    }

    &-left {
        position: absolute;
        left: 0;
    }

    &__icon {
        height: 40px;
    }
    
    &:hover {
        background-color: #9b9b9b80;
    }
}